@use "sass:map";
@import "theme";
@import "responsive";

html,
body {
    margin: 0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    // max-width: 1150px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    // background-color: map.get($theme-colors, "main");
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

@include Responsive($MEDIUM_DEVICE) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        background: blue;
    }
}

@include Responsive($DESKTOP) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

}