@use "sass:map";
@import "theme";

html,
body {
    margin: 0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.container {
    // max-width: 1150px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    // background-color: map.get($theme-colors, "main");
}

.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}