.header_top {
    background-color: #c55c5c;
}

.header_top_right {
    background-color: gray;
    display: grid;
    justify-content: center;

    ul {
        display: flex;
        column-gap: 20px;
        list-style: none;

        a {
            font-size: 20px;
            text-decoration: none;
        }

        span {
            margin-left: 10px;
        }
    }
}

.header_top_left {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        align-items: center;
        column-gap: 10px;
    }
}