.header_top {
    background-color: #c55c5c;
}

.header_top_right {
    background-color: gray;
    display: grid;
    justify-content: center;

    ul {
        display: flex;
        column-gap: 20px;
        list-style: none;

        a {
            font-size: 20px;
            text-decoration: none;
        }

        span {
            margin-left: 10px;
        }
    }
}

.header_top_left {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        align-items: center;
        column-gap: 10px;
    }
}

.header_logo {
    padding: 24px 0;
}

.header_menu {
    padding: 24px 0;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;

        li {
            a {
                text-decoration: none;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.3s;
                padding: 5px 0;
                // display: block;
            }

        }

        .active a {
            color: rgb(47, 78, 255);
        }
    }
}

.header_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul {
        list-style: none;
        margin-right: 24px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 25px;
                color: black;
            }

            span {
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: green;
                color: white;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
                font-weight: 500;
                left: 20px;
                bottom: 15px;
            }
        }
    }
}